[submodule "local-path-provisioner"]
	path = local-path-provisioner
	url = git@github.com:obaven/storage-local-path-provisioner.git
[submodule "minio"]
	path = minio
	url = git@github.com:obaven/storage-minio.git
[submodule "nfs-server"]
	path = nfs-server
	url = git@github.com:obaven/storage-nfs-server.git
[submodule "nfs-subdir-external-provisioner"]
	path = nfs-subdir-external-provisioner
	url = git@github.com:obaven/storage-nfs-subdir-external-provisioner.git
[submodule "velero"]
	path = velero
	url = git@github.com:obaven/storage-velero.git
