[submodule "local-path-provisioner"]
	path = local-path-provisioner
	url = https://github.com/obaven/storage-local-path-provisioner
[submodule "minio"]
	path = minio
	url = https://github.com/obaven/storage-minio
[submodule "nfs-server"]
	path = nfs-server
	url = https://github.com/obaven/storage-nfs-server
[submodule "nfs-subdir-external-provisioner"]
	path = nfs-subdir-external-provisioner
	url = https://github.com/obaven/storage-nfs-subdir-external-provisioner
[submodule "velero"]
	path = velero
	url = https://github.com/obaven/storage-velero
